@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "Recoleta";
  src: url("../assets/fonts/Recoleta-RegularDEMO.woff") format("woff"),
  }

  :root{
    --blue: #0045F6;
    --skyBlue:#DEF9FF;
    --black: #121212;
    --white: #FFFFFF;
    --ash: #292929;
  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  
  /* background: #e5e5e5; */
}

h1{
font-family: 'Lora', serif;
font-style: normal;
font-weight: 700;
font-size: 7.2rem;
line-height: 9.8rem;
align-items: center;
color: var(--black)
}

h2{
font-family: 'Lora', serif;
font-style: normal;
font-weight: 700;
font-size: 4.8rem;
line-height: 6rem;
align-items: center;
color: var(--black)
}

h3{
font-family: 'Lora', serif;
font-style: normal;
font-weight: 700;
font-size: 3.6rem;
line-height: 4rem;
align-items: center;
color: var(--black)
}

h4{
font-family: 'Lora', serif;
font-style: bold;
font-weight: 700;
font-size: 2.4rem;
line-height: 3rem;
align-items: center;
color: var(--black);
margin: 1rem 0 ;
}

h5{
font-family: 'Lora', serif;
font-style: bold;
font-weight: 700;
font-size: 1.8rem;
line-height: 1rem;
align-items: center;
color: var(--black);
margin: 1rem 1rem ;
}

p{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 2.4rem;
line-height: 4rem;
align-items: center;
color: var(--black)
}

span{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 2rem;
align-items: center;
color: var(--black);
margin: 0rem 1rem ;
}

span.heading{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 1.8rem;
line-height: 2rem;
align-items: center;
color: black
}

.container{
  max-width: 85%;
  margin: auto;
}

.text-center{
  text-align: center;
}

.w-80{
  width: 80%;
}

.w-100{
  width: 100%;
}

header{
padding: 2rem 0 ;
border-bottom: 1px solid #EBEBEB;
}

.header{
  display: flex;
}

.nav-links{
  margin-top: 2rem;
  flex-grow: 8;
  display: flex;
  justify-content: end;
}

.nav-links a{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  align-items: center;
  color: var(--ash);

  text-decoration: none;
  margin: 0 2rem;
}

.nav-links .active, .nav-link:hover{
  color: var(--blue);
}

.header-buttons {
    flex-grow: 4;
    display: flex;
    justify-content: end;
}

.hamburger{
  display: none;
}

.btn{
  padding: 1.8rem 4.8rem;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.btn_1{
  background-color: var(--blue);
  color: var(--white);
}

.btn_2{
  background-color: var(--skyBlue);
  color: var(--blue);
}

.logo img{
  width: 15rem;
}

.hero-container{
  display: flex;
  flex-direction: row;
}

.hero-content{
  margin-top: 8%;
}

.hero-text{
  flex-grow: 1;
  width: 80%;
}

.hero-text p{
  margin: 2rem 0;
  
}

.hero-buttons{
 align-items: center;
}

.hero-img{
  flex-grow: 1;
}

.hero-img img{
  width: 65rem;
}

.hero-partners{
  margin: 10rem 0;
}

.partners-img{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50rem;
}

.partners-img img{
  margin: .8rem 1rem
}

section.features-section{
  background-color: #def9ff7a;
  padding: 10rem 0;
  margin-top: 2rem;
}

.features-section .text-content p{
  margin: 3rem 0;
}

.features-section .features{
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.features .feature img{
  margin: 3rem 0;
}

.features .feature{
  margin: 0 1rem;
}

section.plans-section{
  background-color: #00288F;
  padding: 10rem 0;
  height: 90rem;
}

section.plans-section h2,
section.plans-section h4,
section.plans-section span
{
  color: var(--white);
}

section.plans-section span{
  margin: .8rem 0;
  display: block;
}

section.plans-section a{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #80F3FF;
text-decoration: none;

}

section.plans-section p{
  color: #E3E3E3;
}

/* .plans-container{

} */

.controls{
  display: flex;
  justify-content: end;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.plans-section .controls div{
  border: 1px solid white;
  height: 5rem;
  width: 5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: .2s;
  margin: 0 1rem;
}

.controls div:hover{
  background-color: #80f2ff7a;
}

.overflow-container{
  overflow-x: scroll;
  position: relative;
  height: 58rem; 
  transition: ease-in-out;
  transition-duration: 1s;
}

.overflow-container::-webkit-scrollbar {
  display: none;
}

.plans{
  display: flex;
  position: absolute;
}

.plan{
  width: 50rem;
  position: relative;
  margin-right: 2rem;
  background-repeat: no-repeat;
  height: 54.6rem;
  
  
}

.plan .plan-text{
  position: absolute;
  margin: 2.5rem;
  bottom: 0;
}

.plan-1{
  background-image: url('../assets/plan1.png');
}
.plan-2{
  background-image: url('../assets/plan2.png');
}
.plan-3{
  background-image: url('../assets/plan3.png');
}
.plan-4{
  background-image: url('../assets/plan4.png');
}


section.reviews-section{
  padding: 10rem 0;
}

.reviews-section .controls div{
  border: 1px solid var(--blue);
  height: 5rem;
  width: 5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: .2s;
  margin: 0 1rem;
}

.reviews{
  display: flex;
  position: absolute;
}

.review{
  position: relative;
  padding: 5rem 3rem;
  margin-left: 2rem;
  width: 40rem;
}

.review-1{
  background-color: var(--blue);

}

.review-1 p,
.review-1 span,
.review-1 h5{
  color: white;
}

.review-2{
  background-color: var(--skyBlue);
}

.review .user{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

section.cta-section{
  padding: 12rem 0;
  background-color: #001A5C;
}

.cta-section p{
  color: #D9D9D9;margin: 2rem 0;
}

.cta-section h2{
  color: white;
}

.cta-section .btn{
  color: #001A5C;
}

section.footer-section{
  padding: 10rem 0;
}

.footer-container{
  display: flex;
  margin-bottom: 10rem;
  align-items: stretch;
}

.footer-container img{
  margin: 3rem 0;
}

.footer-section a{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
text-decoration-line: underline;
margin: 1rem 0;
color: #292929;
}

.footer-container .text-content{
  flex-grow: 2;
}

.footer-container .links{
  display: flex;
  flex-grow: 10;
  justify-content: end;
}

.footer-links{
  margin: 0 5rem;
}

.footer-links h4{
  color: var(--blue);
  margin: 3rem 0;
}

.footer-links .footer-link{
  text-decoration: none;
  margin: 2rem 0;
}

.footer-notes p{
  font-weight: 400;
  line-height: 34px;
  font-size: 16px;
  color: #292929;
}

.footer-notes hr{
  margin: 3rem 0;
}

@media only screen and (min-width: 1920px) {
  .container{
    max-width: 1520px;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 42.5%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 32.5%;
  }

}

@media only screen and (max-width: 768px) {
  html {
    font-size: 32.5%;
  }

  .partners-img{
    width: 100%;
  }

  .hero-img img{
    width: 100%;
    }

  .features-section .features{
    grid-template-columns: repeat(2, 1fr);
  }

  .features .feature{
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 38%;
  }

  .hamburger{
    display: flex;
    flex-grow: 10;
    justify-content: end;
    align-items: center;
  }
  
  /* .hamburger img{
    display: block;
  } */

  .nav-links, .header-buttons{
    display: none;
  }

  .container{
    max-width: 95%;
  }

  .hero-container{
    flex-direction: column;
  }
  
  .hero-text{
    width: 100%;
  }

 .hero-img{
  justify-content: start;
  }

  .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-buttons .btn{
    margin: 1rem 0;
    width: 98%;
  }

 .hero-img img{
  width: 100%;
  }

  .features-section .features{
    grid-template-columns: 1fr
  }

}


